.NewRoom{
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    padding: 15px;
}

.NewRoom-header{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.NewRoom-header span{
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: red;
}

.NewRoom-form form{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid gray;
}

.NewRoom-form label{
    font-size: 20px;
}

.NewRoom-form input{
    margin-bottom: 25px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 18px;
}

.NewRoom-form button{
    width: 25%;
    margin: 10px;
    font-size: 20px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
}